<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>
			<%= title %>
		</title>
		<link rel="stylesheet" href="../stylesheets/back.css" />
	</head>

	<body>
		<div class="top">
			<img src="images/logo_03.jpg" />
			<ul>
				<li class="li-first">
					<img src="/images/littlelogo_03.jpg" alt="" />
					<span>更多模板堂产品</span>
				</li>
				<li>
					<img src="/images/littlelogo_05.jpg" alt="" />
					<span>开店向导</span>
				</li>
				<li>
					<img src="images/littlelogo_07.jpg" alt="" />
					<span>记事本</span>
				</li>
				<li>
					<img src="/images/littlelogo_09.jpg" alt="" />
					<span>刷新</span>
				</li>
				<li>
					<img src="/images/littlelogo_11.jpg" alt="" />
					<span>个人设置</span>
				</li>
				<li>
					<img src="/images/littlelogo_13.jpg" alt="" />
					<span>管理员留言</span>
				</li>
				<li>
					<img src="/images/littlelogo_15.jpg" alt="" />
					<span>查看网店</span>
				</li>
				<li>
					<img src="/images/littlelogo_17.jpg" alt="" />
					<span>帮助</span>
				</li>
				<li>
					<img src="/images/littlelogo_19.jpg" alt="" />
					<span>关于ECSHOP</span>
				</li>
				<li>
					<img src="/images/littlelogo_21.jpg" alt="" />
					<span>清除缓存</span>
				</li>
				<li>
					<img src="/images/littlelogo_23.jpg" alt="" />
					<span>退出</span>
				</li>
			</ul>
		</div>
		<div class="nav">
			<li><a href=""><img src="images/navlogo_03.jpg"/>起始页</a><span></span></li>
			<li><a href=""><img src="images/navlogo_05.jpg"/>设置导航栏</a><span></span></li>
			<li><a href=""><img src="images/navlogo_07.jpg"/>商品管理<span class="num">0</span></a><span></span></li>
			<li><a href=""><img src="images/navlogo_09.jpg"/>订单管理<span class="num">0</span></a><span></span></li>
			<li><a href=""><img src="images/navlogo_11.jpg"/>广告管理<span class="num">0</span></a><span></span></li>
			<li><a href=""><img src="images/navlogo_13.jpg"/>用户评论<span class="num">0</span></a><span></span></li>
			<li><a href="">用户评论</a></li>
			<li><a href="">商品列表</a></li>
			<li><a href="">会员列表</a></li>
			<li><a href="">商店设置</a></li>
			<li><a href="">移动版</a></li>
			<li><a href="">服务市场</a></li>
			<li><a href="">商品回收站</a></li>
			<li><a href="">添加新商品</a></li>
		</div>
		<div class="fun clearfix">
			<div class="menu">
				<div>
				<p>导航菜单</p>
				<li>商品管理</li>
				<li>促销管理</li>
				<li>订单管理</li>
				<li>广告管理</li>
				<li>报表统计</li>
				<li>文章管理</li>
				<li>会员管理</li>
				<li>权限管理</li>
				<li>系统设置</li>
				<li>模板管理</li>
				<li>数据库管理</li>
				<li>短信管理</li>
				<li>推荐管理</li>
				<li>邮件群发管理</li>
				<li>移动版管理</li>
				<li>模板堂知识库</li>
				</div>
			</div>
			<div class="show">
				<img src="images/showbg_03.jpg"/>
			</div>
			<div class="cont">
				<div class="cont-add">
					<p>
						<a href="#">ECSHOP管理中心</a>
						<span>- 添加新商品 </span>
						<img src="images/jnsy.png" alt="" />
					</p>
				</div>
			</div>
		</div>
	</body>

</html>