header,html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input,figure{margin:0;padding:0}
body{font-family: "微软雅黑";height:800px;overflow: hidden;}
ul,ol,li{list-style:none;}
b,strong{font-weight:100;}
em,i{font-style:normal;}
h1,h2,h3,h4,h5,h6{font-weight:100;font-size:16px;}
a,u{text-decoration: none;}
input,select{outline:none;border:0;}
img{display:block;border:0;}
.clearfix:after{content:".";clear:both;display:block;height:0;overflow: hidden;visibility: hidden;}
.clearfix{zoom:1;}

.cont-add p{
	padding: 17px 0 7px;
	border-bottom: 1px solid #ccc;
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 10px;
	color: #4c4c4c;
}
.cont-add p img{
	display: inline-block;
	margin-left: 16px;
	vertical-align: middle;
}
.cont-add p a:first-child{
	color: #333;
	padding-left: 10px;
}
.cont-add p a:last-child{
	float: right;
	background: #c43926 url(../images/icon_add02.gif)no-repeat 6px center;
	padding: 0 10px 0 23px;
	border-radius: 3px;
	height: 26px;
    line-height: 26px;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    color: #fff;
}