header,html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input,figure{margin:0;padding:0}
body{font-family: "微软雅黑";height:800px;overflow: hidden;}
ul,ol,li{list-style:none;}
b,strong{font-weight:100;}
em,i{font-style:normal;}
h1,h2,h3,h4,h5,h6{font-weight:100;font-size:16px;}
a,u{text-decoration: none;}
input,select{outline:none;border:0;}
img{display:block;border:0;}
.clearfix:after{content:".";clear:both;display:block;height:0;overflow: hidden;visibility: hidden;}
.clearfix{zoom:1;}

/*top*/
.top{
	background: #303030;
	height:76px;
}
.top>img{
	margin: 20px 0 0 30px;
	float: left;
}
.top ul{
	float: right;
}
.top ul li{
	float: left;
	text-align: center;
	padding-top: 8px;
	width: 82px;
	cursor: pointer;
}
.top ul li:hover{
	background: #404040;
}
.top ul .li-first{
	width: 102px;
}
.top ul .li-first span{
	color: #ff0;
}
.top ul li img{
	display: inline-block;
	margin: auto;
    height: 35px;
}
.top ul li span{
	display: block;
	margin-top: 6px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	font-weight: 900;
}
/*nav*/
.nav{
	background: #575757;
    height: 41px;
    border-bottom: 1px solid #212121;
    padding-left: 15px;
}
.nav li{
	float: left;
    display: block;
    height: 41px;
    line-height: 41px;
    position: relative;
}
.nav li>span{
	height: 13px;
    width: 0px;
    border-right: 1px solid #656565;
    margin-top: 15px;
    _margin-top: 0px;
    border-left: 1px solid #303030;
    display: inline-block;
}
.nav li a{
	float: LEFT;
    color: #FFF;
    padding: 0px 12px;
    display: block;
    text-decoration: none;
    font-size: 12px;
    font-weight: 900;
}
.nav li a img{
	margin-right: 10px;
	display: inline;
}
.nav li a span{
	width: 32px;
    height: 16px;
    display: inline-block;
    line-height: 16px;
    text-align: center;
    background: red;
    border-radius: 8px;
    margin-left: 10px;
}
/*fun*/
.fun .menu{
	width: 168px;
	overflow: auto;
	font-size: 12px;
	color: #fff;
	background: #575757;
	position: absolute;
	top: 117px;
	left: 0;
	bottom: 0;
}
.fun .menu p{
	background: #303030;
	padding-left: 30px;
	font-size: 14px;
	font-weight: 900;
	height:33px;
	line-height: 33px;
}
.fun .menu>li{
	min-height: 42px;
	text-indent: 40px;
	line-height: 42px;
	border-top: 1px solid #7f7f7f;
	background: url(../images/menu_1.png)no-repeat top left;
	cursor: pointer;
}
.fun .menu>li a{
	color: #DDDDDD;
}
.fun .menu>li ul{
	display: none;
}
.show{
	position: absolute;
	width: 10px;
	top: 117px;
	left: 168px;
	bottom: 0;
	background: #303030;
}
.show img{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.cont{
	position: absolute;
	top:117px;
	left: 178px;
	bottom: 0;
	right: 0;
	overflow: auto;
	background: url(../images/body_bj.jpg);
	padding: 0 10px;
}
.cont iframe{
	width: 100%;
	min-height: 150%;
	/*overflow: auto;*/
}
